<head>
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>

<h1><%= @movie.title %></h1>

<div class="description"><p><%= @movie.description %></p></div>

<br />
<%= image_tag @movie.gif_url %>

<iframe width="500" height="315" src="//www.youtube.com/embed/<%= @movie.youtube_id %>" frameborder="0" allowfullscreen></iframe>



<p><%= link_to 'back', movies_url %></p>
